*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/****************************************
GENERAL
*****************************************/

.clearfix:after {
	content: " ";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

body {
	background-color: #ccc;
}

#wrapper {
	padding: 0;
	max-width: 1260px;
	background-color: #fff;
	margin: 0 auto;
}

#inner-wrapper {
	width: 100%;
	max-width: 1260px;
	margin: 0 auto;
	padding: 0;
	background-color: #fff;
}

.shadow {
	-webkit-box-shadow: 0 8px 6px -6px #444;
	-moz-box-shadow: 0 8px 6px -6px #444;
	box-shadow: 0 8px 6px -6px #444;
}

header, #intro, #work, #about, #contact {
	width: 100%;
}

/****************************************
FONTS
*****************************************/

.section-heading, 
.main-heading, 
.secondary-heading {
	font-family: 'Roboto', sans-serif;
}

.main-heading, 
.secondary-heading {
	color: #fff;
}

.section-heading {
	color: #f70200;
	font-size: 2em;
}

.main-heading {
	text-transform: uppercase;
	font-size: 1.4em;
	text-shadow: 2px 2px 3px #000;
}

.secondary-heading {
	font-size: 1.25em;
}

.content-text, 
.gallery-text, 
.small-font {
	font-family: 'Open Sans', sans-serif;
}

.small-font {
	font-size: 0.85em;
}

a:link {
	text-decoration: none;
}

nav a {
	color: #000;
	font-family: 'Roboto', sans-serif;
	font-size: 1.5em;
}

nav a:hover {
	color: #F70200;
}

.small-font a, 
.small-font a:link, 
.small-font a:visited, 
.small-font a:active  {
	color: #fff;
}


/****************************************
LAYOUT
*****************************************/

/* ------------ HEADER ------------ */

header {
	background-color: #fff;
	display: block;
	position: fixed;
	top: 0;
	left: 0;
}

#logo {
	float: left;
	margin: 0;
}

#logo img {
	max-width: 100%;
}


/* ------------ NAVIGATION ------------ */

nav {
	float: right;
}

nav ul {
	list-style: none;
	margin: 0 2em;
}

nav li {
	display: inline-block;
	padding: 2em 1em;
}


/* ------------ HERO IMAGE ------------ */

#intro {
	width: 100%;
	margin-top: 5em;
	background-color: #5e5e5e;
	background: url("../images/messydesk.jpg"); 
	background-size: cover;
	height: 300px;
}

#intro h1 {
	padding: 2em 1em 0 3em;
	text-align: left;
}

#name {
	font-size: 1.5em;
	letter-spacing: 0.34em;
}

/* ------------ WORK SECTION ------------ */

#work {
	width: 100%;
}

#work h1 {
	text-align: center;
	padding: 2em 0 0.5em 0;

}

#work hr {
	margin: 1em auto;
	max-width: 500px;
	width: 75%;
	color: #fff;
	height: 1px;
	border: 0;
	background-color: #F70200;
}

#work-gallery {
	width: 80%;
	margin: 0 auto;
	padding: 2em 0;
	display: inline;
	list-style: none;
}

#work-gallery li {
	width: 25%;
	padding: 1em;
	display: block;
	float: left;
}

#work-gallery li img {
	width: 100%;
	border-radius: 5%;
}


#work-gallery li p {
	margin: 0;
	padding: 5% 5% 3% 0;
	color: #5e5e5e;
}

/* ------------ ABOUT SECTION ------------ */

#about {
	width: 100%;
	background-color: #efefef;
}


#bio {
	float: left;
	width: 70%;
	line-height: 1.35;
	padding: 2em;
}

#bio p {
	margin: 1em 0;
	color: #000;
}

#bio ul {
	list-style: none;
	font-size: 1em;
}

aside {
	background-color: #F70200;
	padding: 1em 0;
}

#aboutimg {
	float: right;
	width: 30%;
}

#aboutimg img {
	display: block;
	max-width: 200px;
	width: 100%;
	margin: 0 auto;
	padding: 3em .5em;
}

/* ------------ FOOTER ------------ */

footer {
	background-color: #5e5e5e;
	padding: 2em 1em 1em 3em;
	clear: both;
	color: #fff;
}

#contact p {
	float: right;
	display: inline-block;
	margin: 0 3em 0 0;
}

.contactinfo {
	float: left;
	list-style: none;
	font-size: 1em;
	margin: 0 0 2em 1em;
	padding: 0;
}

.contactinfo li {
	display: inline-block;
	padding: 0 .75em;
}

.contactinfo li img {
	max-width: 40px;
	opacity: 0.5;
	filter: alpha(opacity=50);
}

.contactinfo li img:hover {
	opacity: 1.0;
	filter: alpha(opacity=100);
}



/****************************************
MEDIA QUERIES
*****************************************/

@media screen and (max-width: 915px) {
	/* Reduce img size*/
	#bio {
		padding: 1.5em;
	}

	#aboutimg img {
		max-width: 175px;
		width: 90%;
		padding: 4.25em .5em;
	}
}

@media screen and (max-width: 767px) {

  	.content-text {
  		font-size: .75;
  	}

  	/* Increase font-bckgrd contrast*/
	#intro {
		background: linear-gradient(
				rgba(94, 94, 94, 0.5),
				rgba(94, 94, 94, 0.5)),
				url("../images/messydesk.jpg");
		background-size: cover;
	}

	#work-gallery li {
		width:50%;
		padding: 2.5%;
	}

	/* About moves to single column */
	#bio {
		display: block;
		width: 100%;
	}

	#aboutimg {
		display: block;
		width: 100%;
	}

	#aboutimg img {
		max-width: 250px;
	}
}


@media screen and (max-width: 586px) {
	/* Reduce nav and logo sizes */
	nav ul {
		margin: 0 1em;
	}

	nav li {
		padding: 2em .75em;
	}

	nav a {
		font-size: 1.25em;
	}

	#logo img {
		max-width: 90%;
	}
}

@media screen and (max-width: 475px) {
	/* Reduce header elements*/
	#logo img {
		max-width: 75%;
	}

	nav li {
		padding: .5em;
	}

	nav ul {
		margin: 1em 1em 0;
	}

	nav a {
		font-size: 1.1em;
	}

	/*Reduce #intro h1 size*/
	#intro h1 {
		padding: 2em 1em 0;
	}

	.main-heading {
		font-size: 1.2em;
	}

	/* Portfolio --> single column*/
	#work-gallery li {
		width: 100%;
	}

	#work-gallery li img, #work-gallery li p {
		display: block;
		float: left;
		width: 50%;
		padding-left: 1em;
		}

	footer {
		padding: 2em 1em 1em;
	}
}

@media screen and (max-width: 348px) {
	/* Header unsticks */
	header {
		position: relative;
	}

	nav li {
		display: block;
		text-align: right;
		padding: .75em;
	}

	#logo img {
		max-width: 90%;
		padding-top: 1em;
	}

	#intro {
		margin-top: 0;
	}

	#name {
		letter-spacing: 0.2em;
	}

	/* Footer */
	.contactinfo li {
		padding: 0 .5em;
	}

	.contactinfo li img {
		max-width: 35px;
	}

}

@media screen and (max-width: 300px) {
	.contactinfo li {
		display: block;
		padding: 1em;
		float: none;
	}

	.contactinfo p {
		display: block;
		float: none;
	}

}
