*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/***************
GENERAL
**************/

body {
	background-color: #ccc;
}

#wrapper {
	margin: 0
	padding: 0;
	max-width: 1260px;
	background-color: #fff;
	margin: 0 auto;
}


.clearfix:after {
	content: " ";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

.shadow {
	-webkit-box-shadow: 0 8px 6px -6px #444;
	-moz-box-shadow: 0 8px 6px -6px #444;
	box-shadow: 0 8px 6px -6px #444;
}

header, #intro, #work, #about, #contact {
	width: 100%;
}

/***************
FONTS
**************/

.section-heading, .main-heading, .secondary-heading {
	font-family: 'Roboto', sans-serif;
}

.main-heading, .secondary-heading {
	color: #fff;
}

.section-heading {
	color: #f70200;
	font-size: 2em;
}

.main-heading {
	text-transform: uppercase;
	font-size: 1.4em;
	text-shadow: 2px 2px 3px #000;
}

.secondary-heading {
	font-size: 1.25em;
}

.content-text, .gallery-text, .small-font {
	font-family: 'Open Sans', sans-serif;
}

.small-font {
	font-size: 0.85em;
}

a:link {
	text-decoration: none;
}


/***************
HEADER
***************/

header {
	background-color: #fff;
	display: block;
	position: fixed;
	top: 0;
	left: 0;
}

#logo {
	float: left;
	margin: 0;
}

#logo img {
	max-width: 100%;
}


/***************
NAVIGATION
***************/

nav {
	float: right;
}

nav ul {
	list-style: none;
	margin: 0 2em;
}

nav li {
	display: inline-block;
	padding: 2em 1em;
}

nav a {
	color: #000;
	font-family: 'Roboto', sans-serif;
	font-size: 1.5em;
}

nav a:hover {
	color: #F70200;
}

/***************
HERO IMAGE
***************/

#intro {
	width: 100%;
	margin-top: 5em;
	background-color: #5e5e5e;
	background: url("../images/messydesk.jpg"); 
	background-size: cover;
	height: 300px;
}

#intro h1 {
	padding: 2em 1em 0 3em;
	text-align: left;
}

#name {
	font-size: 1.5em;
	letter-spacing: 0.34em;
}

/***************
WORK SECTION
***************/

#work {
	width: 100%;
}

#work h1 {
	text-align: center;
	padding: 2em 0 0.5em 0;

}

#work hr {
	margin: 0 auto;
	width: 300px;
	color: #fff;
	height: 1px;
	border: 0;
	background-color: #F70200;
}

#work-gallery {
	width: 80%;
	margin: 0 auto;
	padding: 2em 0;
	list-style: none;
}

/*#work-gallery li {
	float: left;
	display: block;
	width: 25%;
	padding: 1em;
}*/

#work-gallery li {
	width: 200px;
	margin: 1em;
	display: inline-block;
	vertical-align: top;
}

#work-gallery li img {
	width: 100%;
	border-radius: 5%;
}


#work-gallery li p {
	margin: 0;
	padding: 5% 5% 3% 0;
	color: #5e5e5e;
}

/***************
ABOUT SECTION
***************/
#about {
	width: 100%;
	background-color: #efefef;
}


#bio {
	float: left;
	width: 60%;
	line-height: 1.35;
	padding: 2em 2em 4em;

}

#bio p {
	margin: 1em 0;
	color: #000;
}

#bio ul {
	list-style: none;
	font-size: 1em;
}


aside {
	background-color: #F70200;
	padding: 1em 0;
}

#aboutimg {
	float: right;
	width: 40%;
}

#aboutimg img {
	display: block;
	max-width: 250px;
	width: 100%;
	margin: 0 auto;
	padding: 3em 0;
}

/***************
FOOTER
***************/

footer {
	background-color: #5e5e5e;
	/*padding: 2em 1em 1em 3em;*/
	clear: both;
	color: #fff;
}

#contact h3 {
	padding: 1em;
}

#contact p {
	float: right;
	display: inline-block;
	margin: 0 3em 0 0;
}

.contactinfo {
	float: left;
	list-style: none;
	font-size: 1em;
	margin: 0 0 2em 1em;
	padding: 0;
}

.contactinfo li {
	display: inline-block;
	padding: 0 .75em;
}

.contactinfo li img {
	max-width: 40px;
	opacity: 0.5;
	filter: alpha(opacity=50);
}

.contactinfo li img:hover {
	opacity: 1.0;
	filter: alpha(opacity=100);
}

.small-font a, .small-font a:link, .small-font a:visited, .small-font a:active  {
	color: #fff;
}

/***************
RESPONSIVE
***************/

@media screen and (max-width: 880px) {
	#bio {
		padding: 2em;
	}

	#aboutimg img {
		max-width: 220px;
	}
}

@media screen and (max-width: 767px) {
  	.content-text {
  		font-size: .75;
  	}
	#intro {
		background: linear-gradient(
				rgba(94, 94, 94, 0.5),
				rgba(94, 94, 94, 0.5)),
				url("../images/messydesk.jpg");
		background-size: cover;
	}

	#bio {
		display: block;
		width: 100%;
	}

	#aboutimg {
		display: block;
		width: 100%;
	}

	#aboutimg img {
		max-width: 300px;
	}
}

@media screen and (max-width: 586px) {
	nav li {
		padding: 2em .75em;
	}

}

@media screen and (max-width: 450px) {
	nav li {
	display: block;
	text-align: right;
	padding: .5em 0;
	}

	nav ul {
		margin: .5em 1em 0;
	}

	#intro h1 {
	padding-top: 3.5em;
}

}
