*, 
*:before, 
*:after {    
	margin: 0;     
	padding: 0;     
	-moz-box-sizing: border-box;     
	-webkit-box-sizing: border-box;     
	box-sizing: border-box; 
}

body {
	background-color: #fff;	
}

header {
	background-color: #ffed74;
	border: 1px black solid;
	padding: 20px;
	display: block;
	width: 100%;
	height: 75px;
}

h1 {
	font-family: 'Qicksand', sans-serif;
}

nav {
	background-color: #e8c66a;
	border: 1px black solid;
	float: right;
	display: block;
	padding: 20px;
}


a:link {
	text-decoration: none;
}

aside {
	background-color: #ffc675;
	border: 1px black solid;
	padding: 20px;
}

footer {
	background-color: #ff957e;
	border: 1px black solid;
	padding: 20px;
	height: 50px;
	clear: both;
	color: #5e5e5e;
}


#logo {
	float: left;
	width: 10%;
	margin: 0 1em;
}

#nav ul {
	display: inline;
	list-style: none;
}

#nav li {
	display: block;
	float: right;
	padding: 1em;
}

#nav a {
	color: #000;
	font-family: 'Qicksand', sans-serif;
	font-size: 1.25em;
	font-weight: 600;
}

#nav a:hover {
	color: #ff5a3b;
}

#intro {
	background-color: #ffe2b8;
	border: 1px black solid;
	padding: 20px;
	margin: 0;
	background: url("../images/messydesk.jpg"); 
	background-size: cover;
	height: 275px;
}

#intro h1 {
	padding: 2em 1em 0 3em;
	color: #fff;
	text-transform: uppercase;
	font-weight: 300;
}

#work {
	background-color: #ffe2b8;
	border: 1px black solid;
	padding: 20px;
	text-align: center;
	height: 350px;
}

#work h1 {
	padding: 1em;
	font-size: 2em;
	color: #ff5a3b;
}

#work hr {
	margin: 0 auto;
	width: 300px;
	color: #fff;
	height: 1px;
	border: 0;
	background-color: #ff5a3b;
}

#work img {
	display: inline;
	padding: 20px;
}

#about {
	padding: 20px;
	background-color: #ffe2b8;
	border: 1px black solid;
	width: 100%
}

.clearfix:after {
	content: ".";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

#bio {
	float: left;
	padding: 20px;
	background-color: #e89c6c;
	border: 1px black solid;
	width: 45%;
}

#about h1 {
	color: #ff5a3b;
	font-size: 2em;
}

#about p {
	padding: 1em;
	color: #000;
	font-family: 'Domine', serif;
}

#aboutimg {
	float: right;
	width: 30%;
	height: 300px;
}

#aboutimg img {
	width: 20%;
}

#about ul {
	list-style: none;
	font-family: 'Domine', serif;
	font-size: 1em;
}

#contact p {
	font-family: 'Quicksand', sans-serif;
	font-size: 1.25em;
	font-weight: bold;
}

#contact a {
	color: #5e5e5e;
}

#contact a:hover {
	text-decoration: underline;
}