body {
	margin: 0;
	background-color: #f0efeb;
	font-family: Verdana, Geneva, sans-serif;
	color: #000;
	
}

h2 {
	color: #e6763b;
}


a:link {
	text-decoration: none;
}

#intro {
	margin: 0px;
	padding: 25px 5px 5px 20px;
	background: url("../images/messydesk.jpg");
	background-size: cover;
	height: 400px;
	color: #fff;
}

#intro a {
	color: #fff;
}


#slogan {
	font-size: 1.5em;
	font-style: italic;
}

ul {
	list-style: none;
}

#work {
	text-align: center;
	height: 175px;
}

#work hr {
	width: 300px;
	color: #e6763b;
}

#work img {
	display: inline;
	padding: 20px 20px 20px 20px;
}

#about {
	text-align: left;
	margin-top: 100px;
	padding: 20px 10px 10px 20px;

}

#about-photo {
	float: right;
	padding: 40px;
}

#contact {
	background-color: #808080;
	padding: 25px 10px 10px 55px;
	height: 50px;
	clear: both;
	color: #fff;
}

#contact a {
	color: #fff;
}

#contact a:hover {
	text-decoration: underline;
}